
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/v4-shims.css">
<svg id="svg" xmlns="http://www.w3.org/2000/svg" viewBox="-300 0 950 270" >
    <path d="M-314,267 C105,364 400,100 812,279" fill="none" stroke="#131313" stroke-width="120" stroke-linecap="round"/></svg>
    <footer class="footer-distributed">
      <div class="footer-right">
        <a href="#" id="facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" id="twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" id="linkedin"><i class="fa fa-linkedin"></i></a>
        <a href="#" id="github"><i class="fa fa-github"></i></a>
        <a href="#" id="youtube"><i class="fa fa-youtube"></i></a>
        <a href="#" id="instagram"><i class="fa fa-instagram"></i></a>
      </div>
      <div class="footer-left">
        <p class="footer-links">
          <a class="link-1" href="/">Home</a>
          <a href="/contact">Contact</a>
          <a href="/blogs">Blogs</a>
        </p>
        <p>Layona-x &copy; <b>2021-</b><b id="yil"></b></p>
      </div>
    </footer>

<style>
  
:root{
  /** Yazi renkleri **/
  --baslikrenk : #5B64EF;
  --aciklamarenk : #AEAEAE;
  --aciktemaciklama : #a5a5a5;
  --aciktemabaslik : black;
  /**arka planlar**/
  --arkaplan : #181818;
  --menurenk : #23272a;
  /**button**/
  --butonborder : #ff5349;
  /**footer**/
  --footerarkaplan : #131313;
  --sosyal: #181818;
  /**Footer sosyal medialar**/
  --facebook: #3b5998;
  --twitter: #1faee9;
  --github: #171515;
  --linkedin: #2867B2;
  --youtube: #c4302b;
  --instagram1: #405DE6;
  --instagram2: #5851DB;
  --instagram3:#833AB4;
  --instagram4:#C13584;
  --instagram5:#E1306C;
  --instagram6: #FD1D1D;
  --instagram7:#F56040;
  --instagram8: #F77737;
  --instagram9:#FCAF45;
  --instagram10:#FFDC80;
  /**Footer sosyal medialar RGB**/
  --twitterrgb:68, 204, 246;
  --facebookrgb:59, 89, 152;
  --linkedinrgb: 0, 119, 181;
  --githubrgb: 54, 70, 93;
  --youtubergb: 230, 33, 23;
  --instagramrgb: 81, 91, 212;
}

svg {
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  bottom: 10%;
}
section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}
  /**============================[  #9 footer  ]============================**/
/**                            #1 Ana tasarım                             **/
/**                            #2 Linkler                                 **/
/**                            #3 Sosyal medialar                         **/
/**                            #4 Animasyon                               **/
/**                            #5 Media                                   **/
/**============================[Footer harita]============================**/
/**  NOT :                                                                **/
/**   MEDİALARI ELLEMENİZ SİTE DÜZENİNİ BOZABİLİR.                        **/
/**   EĞER BİR BİLGİNİZ YOK İSE MEDİA HAKKINDA BANA SORABİLİR             **/
/**   BENDEN YARDIM ALABİLİR YA DA ELLEMEYEBİLİRSİNİZ.                    **/
/**============================[Footer #1]============================**/
/**                            ANA TASARIM                            **/
/**============================[---------]============================**/
.footer-distributed {
  background-color: var(--footerarkaplan);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
  position: fixed;
  left: 0;
  bottom: 0;
}
.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/**============================[Footer #2]============================**/
/**                              Linkler                              **/
/**============================[---------]============================**/
.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}
.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}
.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}
.footer-distributed .footer-links .link-1:before {
  content: none;
}
.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}
.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: var(--sosyal);
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
  margin-bottom: 6px;
}
/**============================[Footer #3]============================**/
/**                          Sosyal medyalar                          **/
/**============================[---------]============================**/
#facebook:hover{
background-color:var(--facebook);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(var(--facebookrgb));
   -moz-box-shadow:    0px 0px 10px 0px rgba(var(--facebookrgb));
   box-shadow:         0px 0px 10px 0px rgba(var(--facebookrgb));
}
#twitter:hover{
  background-color:var(--twitter);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(var(--twitterrgb));
   -moz-box-shadow:    0px 0px 10px 0px rgba(var(--twitterrgb));
   box-shadow:         0px 0px 10px 0px rgba(var(--twitterrgb));
}
#github:hover{
  background-color:var(--github);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(var(--githubrgb));
   -moz-box-shadow:    0px 0px 10px 0px rgba(var(--githubrgb));
   box-shadow:         0px 0px 10px 0px rgba(var(--githubrgb));
}
#linkedin:hover{
  background-color:var(--linkedin);
   -webkit-box-shadow: 0px 0px 10px 0px rgba(var(--linkedinrgb));
   -moz-box-shadow:    0px 0px 10px 0px rgba(var(--linkedinrgb));
   box-shadow:         0px 0px 10px 0px rgba(var(--linkedinrgb));
}

#youtube:hover{
  background-color:var(--youtube);
 -webkit-box-shadow: 0px 0px 10px 0px rgba(var(--youtubergb));
   -moz-box-shadow:    0px 0px 10px 0px rgba(var(--youtubergb));
   box-shadow:         0px 0px 10px 0px rgba(var(--youtubergb));
}
#instagram:hover{
 background-color: var(--instagram1);
  webkit-box-shadow: 0px 0px 10px 0px rgba(var(--instagramrgb));
   -moz-box-shadow:    0px 0px 10px 0px rgba(var(--instagramrgb));
   box-shadow:         0px 0px 10px 0px rgba(var(--instagramrgb));
}
/**============================[Footer #4]============================**/
/**                             Animasyon                             **/
/**============================[---------]============================**/
.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
.footer-distributed p.footer-links a:hover{text-decoration:underline;}
/**============================[Footer #5]============================**/
/**                               Media                               **/
/**============================[---------]============================**/
@media (max-width: 600px) {
  svg{
    widht:100%;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 15%;
    
  }
  .footer-distributed{ height:15%; display:flex}
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

</style>
<script>
document.getElementById("yil").innerHTML = new Date().getFullYear(); 
</script>
   